Package: wayshot
Version: 0.1.0
Architecture: amd64
Maintainer: heng30
Depends:
Section: utils
Priority: optional
Homepage: https://github.com/heng30/wayshot
Description: Video creation tool: Video editing, screen recording, streaming, and screen sharing.
